body {
    background-image: url(paper.jpeg);
}

ul {
    list-style-type: circle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

h1, h2, h3 {
    font-family: monospace;
    text-align: center;
}

h3 {
    font-size: 27px;
    text-decoration: underline;
}

h2 {
    font-size: 35px;
}

h1 {
    font-size: 80px;
    color: darkgoldenrod;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px khaki, 0 0 40px khaki, 0 0 50px khaki, 0 0 60px khaki, 0 0 70px khaki, 0 0 80px khaki;
    }
  }

.add {
    height: 40px;
    width: 200px;
    border: 2px solid black;
    background-color: lightyellow;
    color: darkgoldenrod;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.submit {
    height: 45px;
    width: 65px;
    border: 2px solid black;
    background-color: lightyellow;
    color: darkgoldenrod;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
}

.pic {
    display: block;
    margin: 0 auto;
    border-radius: 15%;
    margin-top: 30px;
}